
$font: 400 14px/23.8px "roboto";
$font-header-label: 11px/19.8px "roboto";
$font-first-section-slider-complex-name: 500 16px/22.4px "roboto";
$font-first-section-slider-header:800 44px/61.6px "roboto";
$font-first-section-slider-price:600 32px/44.8px "Montserrat";
$font-first-section-slider-label:400 16px/28.8px "roboto";
$font-first-section-slider-button:800 14px/19.6px "Montserrat";
$font-first-section-banner-title: 800 21px/29.4px "Montserrat";
$font-first-section-banner-label: 400 13px/22.1px "roboto"