:root{
  --font:400 14px/23.8px "roboto";
  --font-header-label:11px/19.8px "roboto";
  --font-first-section-slider-complex-name: 500 16px/22.4px "roboto";
  --font-first-section-slider-header:800 44px/61.6px "roboto";
  --font-first-section-slider-price:600 32px/44.8px "Montserrat";
  --font-first-section-slider-label:400 16px/28.8px "roboto";
  --font-first-section-slider-button:800 14px/19.6px "Montserrat";
  --font-first-section-banner-title: 800 21px/29.4px "Montserrat";
  --font-first-section-banner-label: 400 13px/22.1px "roboto"

  --text-color-primary-light: #000000;
  --text-color-secondary-light: #717171;
  --text-color-primary-dark: #FFFFFF;
  --text-color-secondary-dark: rgba(255, 255, 255, 0.7);
  --text-color-third-dark: rgba(255, 255, 255, 0.6);
  --black-filter:rgba(0, 0, 0, 0.3);
  --red-primary: #F03E3E;  
}
html{
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}
.text-color-primary-light {
  color: var(--text-color-primary-light);
}
.text-color-secondary-light {
  color: var(--text-color-secondary-light);
}
.text-color-primary-dark{
color: var(--text-color-primary-dark);
}
.text-color-secondary-dark{
color: var(--text-color-secondary-dark);
}
.text-color-third-dark{
color: var(--text-color-third-dark);
}
.header {
  position: fixed;
  width: 100%;
  display: flex;
  height: 8.5rem;
  justify-content: center;
  gap: 2vw;
  z-index: 1000;

  &-item {
    display: flex;
    position: relative;
    gap: 0.8rem;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font: var(--font);
    &-menu {
      display: flex;
      gap: 2vw;
      height: 8.5rem;
      justify-content: center;

      &__text {
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        font: var(--font);
        &:hover {
          cursor: pointer;
          border-top: 0.5rem var(--red-primary) solid;
        }
      }
    }
    &__text-general {
      height: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      font: var(--font);
    }
    &__select {
      font: var(--font);
      background-color: transparent;
      border-style: none;
    }
    &__label {
      font: var(--font-header-label);
    }
    &__icon {
      padding-right: 0.55rem;
    }
  }
  &__white {
    background-color: var(--text-color-primary-dark);
  }
}
.font-weight-500{
  font-weight: 500;
}
.container {
  &-flex {
    &-row {
      display: flex;
    }
    &-column {
      display: flex;
      flex-direction: column;
    }
  }
}
.space-for-icon {
  padding-left: 2rem;
}
.swiper {
  width: 100vw;
  max-height: 100vh;
  &-container {
    position: relative;
  }
  &-slide {
    &__container {
      display: grid;
    }
    &__img {
      width: 100%;
      z-index: 1;
      grid-area: 1/1;
      &-filter {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        background-color: var(--black-filter);
      }
    }
    &__description-container {
      grid-area: 1/1;
      z-index: 3;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      padding-left: 10rem;
      padding-top: 17.5rem;
      width: 60.5rem;
      color: var(--text-color-primary-dark);
      &-complex-name {
        font: var(--font-first-section-slider-complex-name);
      }
      &-header {
        font: var(--font-first-section-slider-header);
      }
      &-price {
        font: var(--font-first-section-slider-price);
      }
      &-label {
        font: var(--font-first-section-slider-label);
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 21.5rem;
        height: 6rem;
        background-color:var(--red-primary);
        color: var(--text-color-primary-dark);
        border: 0;
        font:var(--font-first-section-slider-button);
        cursor: pointer;
      }
      &-tags {
        display: flex;
        gap: 1.2rem;
        padding-top: 2rem;
      }
      &-tag {
        display: flex;
        gap: 1.2rem;
        align-items: center;
      }
    }
  }
  &-banner {
    position: absolute;
    top: 60.5rem;
    left: 77rem;
    display: flex;
    align-items: center;
    width: 57rem;
    height: 20.1rem;
    background-color: var(--red-primary);
    z-index: 1;

    &__social-media {
      position: absolute;
      top: 40vh;
      left: 190vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      gap: 2rem;
    }
    &__title {
      font: var(--font-first-section-banner-title);
      color: var(--text-color-primary-dark);
      width: 18.3rem;
    }
    &__img {
      position: relative;
      bottom: 3rem;
    }
    &__label {
      font: var(--font-first-section-banner-label);
      color: var(--text-color-primary-dark);
    }
  }
}