@import "colors";
@import "fonts";
* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
}
.text-color-primary-light{
  color: $text-color-primary-light;
}
.text-color-secondary-light{
  color: $text-color-secondary-light;
}
.header {
  position: fixed;
  width: 100%;
  display: flex;
  height: 85px;
  justify-content: center;
  gap: 2vw;
  z-index: 1000;
}
.header-item__menu {
  display: flex;
  gap: 2vw;
  height: 85px;
  justify-content: center;
}

.header-item {
  display: flex;
  position: relative;
  gap: 8px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font: $font;
}

.header-item-menu__text {
  color: $text-color-secondary-light;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  font: $font;
}

.header-item__text-general {
  color: $text-color-primary-light;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  font: $font;
}

.header-item__text-menu:hover {
  color: $text-color-primary-light;
  cursor: pointer;
  border-top: 5px $red-primary solid;
}

.header-item__select {
  font: $font;
  color: $text-color-primary-light;
  background-color: transparent;
  border-style: none;
}

.header-item__label {
  color: $text-color-secondary-light;
  font: $font-header-label;
}

.container-flex-row {
  display: flex;
}
.container-flex-column {
  display: flex;
  flex-direction: column;
}

.header-item__icon {
  padding-right: 5px;
}

.space-for-icon {
  padding-left: 20px;
}

.header__white {
  background-color: white;
}
.swiper-container{
  position: relative;
}
.swiper {
  width: 100vw;
  max-height: 100vh;
  // aspect-ratio: 16/9;
  // height: 100vh;
  // display: grid;
}
.swiper-wrapper{
  // display: grid;
}
.swiper-slide{
  // position: relative;
  // display: grid;
  // grid-template-columns: 100px auto auto auto;
  // grid-template-rows: 25% 30% 22.5% 22.5%;
}

.swiper-slide__container{
  display: grid;
}

.swiper-slide__img{
  // position: relative;
  width: 100%;
  z-index: 1;
  grid-area: 1/1;
}

.swiper-slide__img-filter{
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.swiper-slide__description-container{
  grid-area: 1/1;
  z-index:3 ;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 175px;
  width: 605px;
  color: $text-color-primary-dark;
}

.swiper-slide__description-container-complex-name{
font: $font-first-section-slider-complex-name;
}

.swiper-slide__description-container-header{
  font: $font-first-section-slider-header;
}

.swiper-slide__description-container-price{
font: $font-first-section-slider-price;
}

.swiper-slide__description-container-label{
  font: $font-first-section-slider-label;
}

.swiper-slide__description-container-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 215px;
  height: 60px;
  background-color: $red-primary;
  color: $text-color-primary-dark;
  border: 0;
  font:$font-first-section-slider-button;
  cursor: pointer;
}

.swiper-slide__description-container-tags{
  display: flex;
  gap: 12px;
  padding-top: 20px;
}

.swiper-slide__description-container-tag{
  display: flex;
  gap: 12px;
  align-items: center;
}

.swiper__banner{
  position: absolute;
  top: 605px;
  left: 770px;
  display: flex;
  align-items: center;
  width: 570px;
  height: 201px;
  background-color: $red-primary;
  z-index: 1;
}

.swiper__banner-social-media{
  position: absolute;
  top: 40vh;
  left: 190vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 20px;
}

.swiper__banner-img{
  position: relative;
  bottom: 30px;
}

.swiper__banner-title{
  font: $font-first-section-banner-title;
  color: $text-color-primary-dark;
  width: 183px;
}

.swiper__banner-label{
  font: $font-first-section-banner-label;
  color: $text-color-primary-dark;
}


