@import "colors";

*{
    margin: 0;
    padding: 0;
}

.header{
display: flex;
height: 8vh;
background-color: $black;
gap: 2vw;
margin-left: 7vw;
margin-right: 7vw;
align-items: center;
}

.header-item{
list-style-type: none;
}